<!doctype HTML>
<html>
    <head>
        <title>TODO</title>
        <link rel="stylesheet" href="thirdparty/basscss.min.css">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="app"></div>
        <script type="text/template" id="entry-template">
            <div class="redgreen-header">
                <h2 class="redgreen-title"><%- key %></h2>
                <span class="redgreen-tag"><%- updated %></span>
            </div>
            <% if (!ok) { %>
                <div class="redgreen-metadata">
                    <% _.forEach(data, function(line) { %>
                        <span class="redgreen-line">
                            <%- line %>
                        </span>
                    <% }) %>
                </div>
            <% } %>
        </script>
        <script src="thirdparty/jquery-3.1.1.min.js"></script>
        <script src="thirdparty/underscore-min.js"></script>
        <script src="thirdparty/backbone-min.js"></script>
        <script src="thirdparty/moment.min.js"></script>
        <script src="main.js"></script>
    </body>
</html>
