body {
  background: black;
}

#app {
  display: flex;
  padding: 1em;
}

.redgreen-entry {
    display: block;
    margin: 1em;
    border-radius: 5px;
    overflow: hidden;
}

.redgreen-entry > .redgreen-header {
    display: block;
    padding: 1em;
    color: #eee;
    background-color: red;
}

.redgreen-entry.green > .redgreen-header {
    background-color: green;
}

.redgreen-entry > .redgreen-metadata {
    display: block;
    padding: 1em;
}

.redgreen-entry > .redgreen-metadata > .redgreen-line {
    display: block;
    color: #eee;
}
